lightning-input.class1{
    color: aqua;
    background-color: black;
}
lightning-input.class2{
    color: rgb(101, 67, 151);
    background-color: rgb(230, 71, 71);
}
lightning-input.class3{
    color: rgb(219, 125, 125);
    background-color: rgb(171, 236, 92);
}